VMALERT_datasource_url='{{ vmalert_datasource_url }}'
VMALERT_remoteRead_url='{{ vmalert_remote_read_url }}'
VMALERT_remoteWrite_url='{{ vmalert_remote_write_url }}'
VMALERT_evaluationInterval='{{ vmalert_evaluation_interval }}'
VMALERT_rule='{{ vmalert_rule_dir }}/*.yaml'
VMALERT_notifier_url='{{ vmalert_notifier_url }}'
