VMALERT_datasource_url={{ vmalert_datasource_url }}
VMALERT_remoteRead_url={{ vmalert_remoteRead_url }}
VMALERT_remoteWrite_url={{ vmalert_remoteWrite_url }}
VMALERT_evaluationInterval={{ vmalert_evaluationInterval }}
VMALERT_rule={{ vmalert_rule }}
VMALERT_notifier_url={{ vmalert_notifier_url }}
